
.body-section{
    color: red;
    display: inline;
    
    
    .react-stockchart{
        width: 100% !important;
        #div{
        display: none;
        position: relative;
        }
        .react-stockchart{
            position: relative!important;
        }
    }

}