@import '../../../styles/colors.less';

.navbar-container-fixed {
  position: absolute;
  top: 0;
  right: 0;
  background-color: @navy-headers;
  width: 100%;
  height: 64px;
  /* Flex Layout Options */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
