@import '../../../../styles/colors.less';

.orders-container {
  // Self
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  // for Childs
  flex-direction: column;
}

.orders-header {
  padding: 5px;
  font-family: DINPro-Medium;
  color: @light-text;
  background-color: @navy-headers;
  display: flex;
  justify-content: space-between;
}

.orders-table {
  padding: 5px;
  border-collapse: collapse;
  tr {
    display: flex;
    justify-content: space-around;
  }
}

.orders-table-head {
  color: @sidebar-header;
}

.orders-table-body {
  color: @light-text;
  text-align: center;
  tr:hover {
    color: white;
    .orders-value {
      color: white;
    }
  }
}

.orders-value {
  color: @dark-text;
}

.orders-active {
  color: white;
  background-color: @dark-green;
  .orders-value {
    color: white;
  }
  .orders-price {
    color: @light-green;
  }
}

.orders-bids {
  .orders-header {
    flex-direction: row;
  }
  .orders-table {
    tr {
      flex-direction: row;
    }
  }
  .orders-table-body {
    tr:hover {
      background-color: @dark-green;
      .orders-price {
        color: @light-green;
      }
    }
  }
  .orders-price {
    color: @regular-green;
  }
  .orders-active {
    background-color: @dark-green;
    .orders-price {
      color: @light-green;
    }
  }
}

.orders-asks {
  .orders-header {
    flex-direction: row-reverse;
  }
  .orders-table {
    tr {
      flex-direction: row-reverse;
    }
  }
  .orders-table-body {
    tr:hover {
      background-color: @dark-red;
      .orders-price {
        color: @regular-red;
      }
    }
  }
  .orders-price {
    color: @medium-red;
  }
  .orders-active {
    background-color: @dark-red;
    .orders-price {
      color: @regular-red;
    }
  }
}
