@import "./../../assets/styles/colors.scss";

#sidenav {
  width: 30%;
  background-color: $foreground-color;
}

.sidenav-container {
  background-color: transparent;
}

.sidenav-content {
  // display: flex;
  // justify-content: center;
}
