@import "./../../assets/styles/colors.scss";

.sidenav-container {
  background-color: transparent;
  height: 85vh;
  & > #sidenav {
    width: 30%;
    background-color: $background-color;
    color: $text-color;
    // input, label, span  {
    //   color: $text-color;
    // }
    #info-container {
      margin-top: 5%;
    }

    mat-divider {
      background-color: $text-color;
    }
  }
}
