<div class="sidenav-container">
  <mat-sidenav-container class="side-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #sidenav opened="false" [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <div fxLayout="column">
        <div fxFlex>
          <div fxLayout>
            <img src="./../../assets/images/profile-icon.png" height="200px" fxFlex="55">
            <mat-nav-list fxFlex="45">
              <a mat-list-item>Name: John Doe</a>
              <a mat-list-item>Email: john.doe@gmail.com</a>
              <a mat-list-item>Phone: 1234567890</a>
            </mat-nav-list>
          </div>
        </div>
        <div fxFlex>
          <h1>Wallet</h1>
          <mat-divider></mat-divider>
          <p-chart type="doughnut" [data]="data"></p-chart>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
