@import '../../colors.less';

.transactions-container {
  width: 300px;
  padding: 10px;
  .header {
    background-color: @regular-navy;
    padding: 5px 10px;
    .title {
      text-transform: uppercase;
      color: @light-text;
    }
  }
  .item {
    font-size: 0.9rem;
    color: @dark-text;
    p:last-child {
      text-align: right;
    }
    &.--sell {
      .price,
      .price span {
        color: @dark-red;
      }
    }
    &.--buy {
      .price,
      .price span {
        color: @dark-green;
      }
    }
  }
}
