@font-face {
  font-family: 'DINPro Regular';
  src: url('../../../Assets/Fonts/DINPro-Regular.otf');
}

@font-face {
  font-family: 'DINPro Medium';
  src: url('../../../Assets/Fonts/DINPro-Medium.otf');
}

@font-face {
  font-family: 'DINPro Light';
  src: url('../../../Assets/Fonts/DINPro-Light.otf');
}
