/* default global fonts */
@font-face {
  font-family: 'DINPro Regular';
  src: url('/static/fonts/DINPro-Regular.otf');
}

@font-face {
  font-family: 'DINPro Medium';
  src: url('/static/fonts/DINPro-Medium.otf');
}

@font-face {
  font-family: 'DINPro Light';
  src: url('/static/fonts/DINPro-Light.otf');
}
