@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --dark-green: #466830;
  --medium-green: #86af6b;
  --regular-green: #80c156;
  --light-green: #98d372;
  --dark-red: #722837;
  --regular-red: #cc4458;
  --medium-red: #ba3040;
  --dark-navy: #161a1e;
  --background-navy: #191e23;
  --regular-navy: #252c36;
  --medium-navy: #384555;
  --navy-headers: #313d4c;
  --dark-text: #4e5863;
  --light-text: #b0bac1;
  --sidebar-background: #23292d;
  --sidebar: #2e353d;
  --sidebar-header: #727c84;
  --sidebar-text: #747f89;
  --sidebar-light-text: #b0bac1;
  --neutral-gray: #cccccc;
  --bitcoin-yellow: #ebc256;
  --header-background: #252C36;
  --header-color: #B0BAC1;
  --nav-background: #161A1E;
  --exchange-type-color: #80C156;
  --table-header-background: #313D4C;
  --table-color: #4E5863;
  --table-row-hover-background: rgba(116, 127, 137, .4);
  --exchange-loss-color: #BA3040;
  --purchase-position-average-color: #747F89;
  --purchase-position-average-value-color:#D5DCE0;
  --purchase-position-border: #86AF6B;
  --sell-position-border: #D23447;
  --purchase-position-hover-background: rgba(134, 175, 107, .4);
  --sell-position-hover-background: rgba(186, 48, 64, .4);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', 'sans-serif', 'DINPro Regular';
}

#app {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

#app > .page {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#app > .page > main {
  background: var(--background-navy);
  flex: 1;
  color: var(--light-text);
  overflow-y: scroll;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  position: relative;
}

.loading::after {
  position: absolute;
  animation: spinAround .5s infinite linear;
  border: 2px solid var(--regular-green);
  border-radius: 100%;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  width: 1em;
}

td.loading {
  display: table-cell;
}

td.loading::after {
  left: calc(50% - .5em);
  top: calc(50% - .5em);
  position: absolute;
}

@media screen and (max-width: 768px) {
  .is-hidden-mobile,
  .is-hidden-touch {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .is-hidden-tablet,
  .is-hidden-touch {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .is-hidden-desktop {
    display: none;
  }
}
