:global(body) {
  margin: 0px;
}
.trades {
  grid-area: trades;
}
.chart {
  grid-area: chart;
}
.orders {
  grid-area: orders;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "trades chart chart chart chart chart chart"
    "trades orders orders orders orders orders orders";
  grid-gap: 10px;
  padding: 10px;
}

.layout-container {
  position: relative;
}
