@font-face {
  font-family: DINPro-Light;
  src: url('../../Assets/Fonts/DINPro-Light.otf');
}

@font-face {
  font-family: DINPro-Medium;
  src: url('../../Assets/Fonts/DINPro-Medium.otf');
}

@font-face {
  font-family: DINPro-Regular;
  src: url('../../Assets/Fonts/DINPro-Regular.otf');
}
.lasTrades{
  position:relative !important;
  display: inline;
}
.customAlign{
  position: relative !important;
  height:15px !important;
}
.DropDownMenu{
  font-family: DINPro-Light !important;
  display:inline !important;
  text-decoration: none !important;
  color: #b0bac1 !important;
}
.left{
  position: absolute !important;
      right: 1px !important;
      left: 883px;
      bottom: 0px;}
.chartContent{
    background-color: #23292d !important;
    text-align: right !important;
    position:relative !important;
    display: inline-flex !important;
    max-width: 930px !important;
    overflow-x: hidden !important;
  }
.canvasForm{
  background-color: #23292d !important;
  max-width: 930px !important;
  overflow-x: hidden !important;
}
.backgroundBody{
  background-color: #23292d !important;
}
.inlineDisplay{
  display:inline !important;
}
