@import "../../styles/colors.css";
@import "../../styles/variables.css";
:root {
  --table-cell-padding: calc(1.4 * var(--unit));
  --table-column-spacing: calc(0.6 * var(--unit));
  --table-column-padding: calc(var(--table-column-spacing) / 8);
}

.header {
  background-color: var(--color-primary);
  padding: 10px;
  color: var(--palette-blue-grey-100);
}

.table {
  background-color: var(--color-primary-dark);
}

.buy {
  grid-area: buy;
}
.sell {
  grid-area: sell;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "buy"
    "sell";
}

@media only screen and (min-width: 600px) {
  .grid-container {
    display: grid;
    grid-template-areas: "buy sell";
    grid-gap: 5px;
    padding: 5px;
    width: 100%;
  }
}
