.div-block__content {
  display: flex;
}
table {
  table-layout: fixed;
  margin: auto;
  &.reverse {
    direction: rtl;
  }
}

th,
td {
  padding: 5px 5px;
  width: 70px;
  &.color-ask {
    color: var(--Regular-green);
  }
  &.color-bid {
    color: var(--Regular-red);
  }
  &.status__bar {
    width: 35px;
  }
}

thead,
tfoot {
  display: table;
  width: 100%;
}

tbody {
  height: 300px;
  overflow: auto;
  overflow-x: hidden;
  display: block;
  width: 100%;
}

tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  &:hover {
    background: rgba(216, 212, 212, 0.1) !important;
  }
}

.bar {
  width: 100%;
  height: 12px;
  &.ask-color {
    background-color: var(--Regular-green);
  }
  &.bid-color {
    background-color: var(--Medium-red);
  }
}

.status__bar--content {
  display: flex;
  justify-content: flex-end;
}

.asks-enter {
  background-color: var(--Regular-green);
}

.asks-enter-active {
  background-color: transparent;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.asks-exit {
  opacity: 1;
}

.asks-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.bids-enter {
  background-color: var(--Dark-red);
}

.bids-enter-active {
  background-color: transparent;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.bids-exit {
  opacity: 1;
  // content: url("../assets/Images/1x/order_selector.png")
}

.bids-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
