table {
    table-layout: fixed;
    margin: auto;
    &.reverse {
      direction: rtl;
    }
  }
  
  th,
  td {
    padding: 3px 3px;
    width: 70px;
    &.color-ask {
      color: var(--Regular-green);
    }
    &.color-bid {
      color: var(--Regular-red);
    }
    &.status__bar {
      width: 35px;
    }
  }
  
  thead,
  tfoot {
    display: table;
    width: 100%;
    padding: 3px 3px;
  }
  
  tbody {
    height: 370px;
    overflow: auto;
    overflow-x: hidden;
    display: block;
    width: 100%;
    &.trades {
      height: 750px;
    }
  }
  
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    &:hover {
      background: rgba(216, 212, 212, 0.1) !important;
    }
    &.trade-row {
        opacity: 0.9;
        &:hover {
            opacity: 1;
        }
    }
  }