@background-color: #191e23;
@base-color:        #252c36;
@color-base: #B0BAC1;
@size-header1_title: 16px;
@size-header1_base: 14px;
@base-color-header1: @base-color;
@base-color-header2: #161a1e;
@color-green: #80c156;



/**
 * import wireframe base, global mixins, fonts, etc
 */
@import './wireframe/reset.less';
@import './wireframe/mixins.less';
@import './wireframe/fonts.less';
@import './wireframe/base.less';


/**
* Build the structure of the wireframe
*/

.wireframe{
    /* Base color of the components */ 
    @table-header-background: #313d4c;
    @base-color3: #4e5863;
    @color-red: #BA3040;
    @color-red-graph: #BA3040;
    @color-green-graph: #86AF6B;
    @table-active-background: #747F89;
    @floating-background: #2E353D;
    @graph_axis: @base-color;
    @table-market-header: #727C84;
    @background-color-floating-body: #23292D;
    @animate-background-time: 1s;
    @background-chart-stock-bar: #384555;
    /*@import './wireframe/components.colors.less';*/

    /* import wireframe layout */
    @import './wireframe/layout.less';
	@import './wireframe/components.less';
	@import './widgets/toggle.widget.less';
	@import './widgets/dropdown.widget.less';
    
    /*
    * import themes
    * inner the application, just toggle class 'light'
    */
    &.light {
	   @import './wireframe/theme.light.less';
    }
}
@import './wireframe/responsive.less';