@import '../../../styles/colors.less';

.exchange-header-fixed {
  position: relative;
  top: 0;
  right: 0;
  background-color: @dark-navy;
  width: 100%;
  height: 42px;
  /* Flex Layout Options */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
