<mat-toolbar>
  <mat-toolbar-row>
    <img src="./../../assets/images/1x/bitso_logo.png">
    <span id="sub-title">Challenge</span>
    <span id="full-space"></span>
    <button *ngIf="this.isUsrLogged" mat-button color="accent" (click)="navigateTo('home')">Home</button>
    <button *ngIf="this.isUsrLogged" mat-button (click)="sidebarToggle()">Profile and Wallet</button>
    <button *ngIf="this.isUsrLogged" mat-button color="primary" (click)="navigateTo('dashboard')">Dashboard</button>
    <button *ngIf="this.isUsrLogged" mat-button color="warn" (click)="navigateTo('login')">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
