@import "./../../assets/styles/colors.scss";
@import "./../../assets/styles/spaces.scss";

mat-toolbar {
  background-color: $foreground-color;
  color: $text-color;
}

.icons-menu {
  padding: 0 2%;
}

#sub-title {
  margin-left: 1%;
}

#full-space {
  flex: $full-space;
}
