/* The side navigation menu */
.sidenav {
  height: 93%;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0px;
  background-color: var(--color-primary-light);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.title {
  position: absolute;
  margin-top: 40px;
  left: -10px;
  transform: rotate(90deg);
  color: var(--color-text);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  margin-left: 10px;
  margin-top: 10px;
  color: var(--color-text);
  cursor: pointer;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
