:root {
  --color-primary: #252c36;
  --color-primary-light: #384555;
  --color-primary-dark: #161a1e;

  --Dark-green: #466830;
  --Medium-green: #86af6b;
  --Regular-green: #80c156;
  --Light-green: #98d372;

  --Dark-red: #722837;
  --Regular-red: #cc4458;
  --Medium-red: #ba3040;

  --dark-navy: #161a1e;
  --Background-navy: #191e23;
  --Regular-navy: #252c36;
  --Medium-navy: #384555;
  --Navy-headers: #313d4c;

  --dark-text: #4e5863;
  --light-text: #b0bac1;

  --sidebar-background: #23292d;
  --sidebar: #2e353d;
  --sidebar-header: #727c84;
  --sidebar-text: #747f89;
  --sidebar-light-text: #b0bac1;

  --neutral-grey: #ccc;
  --bitcoin-yellow: #ebc256;
}

@bp-largest: 75em; // 1200px
@bp-large: 68.75em; // 1100px
@bp-medium: 56.25em; // 900px
@bp-small: 37.5em; // 600px
@bp-smallest: 31.25em; // 500px

@font-face {
  font-family: "DINPro-regular";
  src: url("../assets/Fonts/DINPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DINPro-medium";
  src: url("../assets/Fonts/DINPro-Medium.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "DINPro-light";
  src: url("../assets/Fonts/DINPro-Light.otf");
  font-weight: 200;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: @bp-large) {
    font-size: 50%;
  }
}

body {
  font-family: "DINPro-regular", sans-serif;
  //   font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
