@import '../../../styles/colors.less';

.sidenav-wrapper {
  height: 100vh - 15px;
  position: absolute;
  z-index: 1;
  background-color: @sidebar;
  overflow-x: hidden;
  transition: 0.5s;
  /* Flex Layout Options */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: center;
  align-content: center;
  border-top: solid 2px @background-navy;
}

.sidenav-toggle {
  height: 100%;
  align-self: flex-start;
  z-index: 1;
  border-right: solid 2px @background-navy;
  background-color: @sidebar;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
  // Cursor
  cursor: pointer;

  .vertical-text {
    padding: 5px;
    font-family: DINPro-Medium;
    font-size: 10px;
    color: @light-text;
    // Side text
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    text-orientation: sideways;
  }

  .dropdown-icon {
    height: 0.5rem;
    width: 0.5rem;
    padding: 5px;
    padding-right: 12px;
    transform: rotate(-90deg);
  }
}

.sidenav-content {
  height: 100%;
  width: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: @sidebar-background;
  transition: 0.5s;
}

.markets-header {
  padding: 7px 0 7px 15px;
  font-family: DINPro-Regular;
  color: @sidebar-light-text;
  background-color: @sidebar-header;
}
