.last-trades {
  padding: 15px;
}

.positions {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.purchase-position,
.sell-position {
  padding: 0 15px 15px 15px;
  flex: .5;
}

.table.last-trades > .header,
.table.purchase-position .purchase-position-header,
.table.sell-position .sell-position-header {
  text-transform: uppercase;
  font-size: .93rem;
}

.table.last-trades > .container,
.table.purchase-position > .container,
.table.sell-position > .container {
  overflow-y: scroll;
}

.table.last-trades > .container > table > thead > tr > th,
.table.purchase-position > .container > table > thead > tr > th,
.table.sell-position > .container > table > thead > tr > th {
  text-transform: uppercase;
  color: var(--header-color);
  font-size: .93rem;
  padding: 8px;
}

.table.purchase-position > .container > table > thead > tr > th.percent,
.table.sell-position > .container > table > thead > tr > th.percent {
  width: 30px;
}

.table.last-trades > .container > table > thead > tr > th > .last-trades-header > span,
.table.purchase-position > .container > table > thead > tr > th > div > span,
.table.sell-position > .container > table > thead > tr > th > div > span {
  padding-right: 4px;
  color: var(--table-color);
}

.table.last-trades > .container > table > tbody > tr {
  opacity: .7;
}

.table.last-trades > .container > table > tbody > tr:hover {
  opacity: 1;
}

.table.last-trades > .container > table > tbody > tr > td.time {
  color: var(--table-color);
}

.table.last-trades > .container > table > tbody > tr:hover > td.time {
  color: white;
}

.table.last-trades > .container > table > tbody > tr > td.price > .revenue {
  color: var(--exchange-type-color);
}

.table.last-trades > .container > table > tbody > tr > td.price > .loss {
  color: var(--exchange-loss-color);
}

.table.purchase-position > .header {
  border-left: 4px solid var(--purchase-position-border);
}

.table.sell-position > .header {
  border-right: 4px solid var(--sell-position-border);
}

.table.purchase-position .purchase-position-header,
.table.sell-position .sell-position-header {
  display: flex;
  justify-content: space-between;
}

.table.purchase-position .purchase-position-header > .average > span {
  padding-right: 6px;
  color: var(--purchase-position-average-color);
}

.table.sell-position .sell-position-header > .average > span {
  padding-left: 6px;
  color: var(--purchase-position-average-color);
}

.table.purchase-position .purchase-position-header > .average,
.table.sell-position .sell-position-header > .average {
  color: var(--purchase-position-average-value-color);
  opacity: .5;
}

.table.purchase-position > .container > table > thead > tr > th > div > span,
.table.sell-position > .container > table > thead > tr > th > div > span {
  padding-right: 4px;
  color: var(--table-color);
}

.table.purchase-position > .container > table > tbody > tr:hover {
  background: var(--purchase-position-hover-background);
}

.table.sell-position > .container > table > tbody > tr:hover {
  background: var(--sell-position-hover-background);
}

.table.purchase-position > .container > table > tbody > tr > td > .percent {
  height: 1rem;
  background: var(--exchange-type-color);
}

.table.sell-position > .container > table > tbody > tr > td > .percent {
  height: 1rem;
  background: var(--exchange-loss-color);
}

.table.purchase-position > .container > table > tbody > tr > td.mxn-value,
.table.sell-position > .container > table > tbody > tr > td.mxn-value {
  color: var(--table-color);
}

.table.purchase-position > .container > table > tbody > tr:hover > td.mxn-value,
.table.sell-position > .container > table > tbody > tr:hover > td.mxn-value {
  color: var(--light-text);
}

.table.purchase-position > .container > table > tbody > tr > td.mxn-price {
  color: var(--exchange-type-color);
}

.table.sell-position > .container > table > tbody > tr > td.percent {
  display: flex;
  justify-content: flex-end;
}

.table.sell-position > .container > table > tbody > tr > td.mxn-price {
  color: var(--exchange-loss-color);
}

@media screen and (max-width: 768px) {
  .table.last-trades > .container > table > tbody > tr:nth-child(n+6),
  .table.purchase-position > .container > table > tbody > tr:nth-child(n+6),
  .table.sell-position > .container > table > tbody > tr:nth-child(n+6) {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  #app > .page > main.exchange {
    display: flex;
  }

  .purchase-position {
    padding: 15px 5px 15px 15px;
  }

  .sell-position {
    padding: 15px 15px 15px 5px;
  }
}
