.last-trades {
  padding: 15px;
}

.positions {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.bid,
.ask {
  padding: 0 15px 15px 15px;
  flex: 1;
}

.table.last-trades > .header,
.table.bid .bid-header,
.table.ask .ask-header {
  text-transform: uppercase;
  font-size: .93rem;
}

.table.last-trades > .container,
.table.bid > .container,
.table.ask > .container {
  overflow-y: scroll;
}

.table.last-trades > .container > table > thead > tr > th,
.table.bid > .container > table > thead > tr > th,
.table.ask > .container > table > thead > tr > th {
  text-transform: uppercase;
  color: var(--header-color);
  font-size: .93rem;
  padding: 8px;
}

.table.bid > .container > table > thead > tr > th.percent,
.table.ask > .container > table > thead > tr > th.percent {
  width: 30px;
}

.table.last-trades > .container > table > thead > tr > th > .last-trades-header > span,
.table.bid > .container > table > thead > tr > th > div > span,
.table.ask > .container > table > thead > tr > th > div > span {
  padding-right: 4px;
  color: var(--table-color);
}

.table.last-trades > .container > table > tbody > tr {
  opacity: .7;
}

.table.last-trades > .container > table > tbody > tr:hover {
  opacity: 1;
}

.table.last-trades > .container > table > tbody > tr > td.time {
  color: var(--table-color);
}

.table.last-trades > .container > table > tbody > tr:hover > td.time {
  color: white;
}

.table.last-trades > .container > table > tbody > tr > td.price > .sell {
  color: var(--exchange-type-color);
}

.table.last-trades > .container > table > tbody > tr > td.price > .buy {
  color: var(--exchange-buy-color);
}

.table.bid > .header {
  border-left: 4px solid var(--bid-border);
}

.table.ask > .header {
  border-right: 4px solid var(--ask-border);
}

.table.bid .bid-header,
.table.ask .ask-header {
  display: flex;
  justify-content: space-between;
}

.table.bid .bid-header > .average > span {
  padding-right: 6px;
  color: var(--bid-average-color);
}

.table.ask .ask-header > .average > span {
  padding-left: 6px;
  color: var(--bid-average-color);
}

.table.bid .bid-header > .average,
.table.ask .ask-header > .average {
  color: var(--bid-average-value-color);
  opacity: .5;
}

.table.bid > .container > table > thead > tr > th > div > span,
.table.ask > .container > table > thead > tr > th > div > span {
  padding-right: 4px;
  color: var(--table-color);
}

.table.bid > .container > table > tbody > tr:hover {
  background: var(--bid-hover-background);
}

.table.ask > .container > table > tbody > tr:hover {
  background: var(--ask-hover-background);
}

.table.bid > .container > table > tbody > tr > td > .percent {
  height: 1rem;
  background: var(--exchange-type-color);
}

.table.ask > .container > table > tbody > tr > td > .percent {
  height: 1rem;
  background: var(--exchange-buy-color);
}

.table.bid > .container > table > tbody > tr > td.mxn-value,
.table.ask > .container > table > tbody > tr > td.mxn-value {
  color: var(--table-color);
}

.table.bid > .container > table > tbody > tr:hover > td.mxn-value,
.table.ask > .container > table > tbody > tr:hover > td.mxn-value {
  color: var(--light-text);
}

.table.bid > .container > table > tbody > tr > td.mxn-price {
  color: var(--exchange-type-color);
}

.table.ask > .container > table > tbody > tr > td.percent {
  display: flex;
  justify-content: flex-end;
}

.table.ask > .container > table > tbody > tr > td.mxn-price {
  color: var(--exchange-buy-color);
}

@media screen and (max-width: 768px) {
  .table.last-trades > .container > table > tbody > tr:nth-child(n+6),
  .table.bid > .container > table > tbody > tr:nth-child(n+6),
  .table.ask > .container > table > tbody > tr:nth-child(n+6) {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  #app > .page > main.exchange {
    display: flex;
  }

  .bid,
  .ask {
    flex: .5;
  }

  .bid {
    padding: 15px 5px 15px 15px;
  }

  .ask {
    padding: 15px 15px 15px 5px;
  }
}
