@import '../../../styles/colors.less';

.trades-container {
  padding: 10px;
  padding-top: 5px;
  width: 25%;
  max-height: 100vh - 18px;
  overflow: auto;
}

.trades-header {
  padding: 5px;
  padding-left: 10px;
  font-family: DINPro-Medium;
  color: @light-text;
  background-color: @navy-headers;
}

.trades-table {
  width: 100%;
  border-collapse: collapse;
}

.trades-table-head {
  padding: 10px;
  color: @sidebar-header;
}

.trades-table-body {
  text-align: center;
  tr:hover {
    background-color: @regular-navy;
    .trades-hour, .trades-amount {
      color: white;
    }
    .trades-buy-price {
      color: @regular-green;
    }
    .trades-sell-price {
      color: @regular-red;
    }
  }
}

.trades-hour {
  color: @dark-text;
}

.trades-buy-price {
  color: @dark-green;
}

.trades-sell-price {
  color: @dark-red;
}

.trades-amount {
  color: @light-text;
}

.trades-active {
  background-color: @regular-navy;

  .trades-hour, .trades-amount {
    color: white;
  }
  .trades-buy-price {
    color: @regular-green;
  }
  .trades-sell-price {
    color: @regular-red;
  }
}
