@import '../../../styles/colors.less';

.trades-container {
  padding: 10px;
  padding-top: 5px;
  width: 25%;
  max-height: 100vh - 18px;
  overflow: auto;
}

.trades-header {
  padding: 5px;
  padding-left: 10px;
  font-family: DINPro-Medium;
  color: @light-text;
  background-color: @navy-headers;
}
