html{ 
  font-size: $base-fontsize; 
  background-color: $background-navy; 
  overflow-x: hidden;
}
body{ 
  font-family: $primaryFontFamily; 
  background-color: $background-navy; 
  font-weight: 300;
}

h1{
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 300;
}

// h1, h2, h3, h4, h5, h6{ font-family: $primaryFontFamily; }

img{ vertical-align: top; } // Remove 2 pixels under the image

ol, ul, dl{}

li{}

p {}

a{
  &:hover, &:active, &:focus{
    // text-decoration: none;
  }
}

blockquote{}

[class^="btn-"] {
  padding: 1em 2em;
  display: inline-block;
  text-align: center;

  &:hover {
    text-decoration: none;
  }
}

.btn-primary,
.btn-secondary{
  cursor: pointer;
  padding: 0.7em 1.4em;
}

.btn-primary{
  background-color: $primary; 
  border: 0; 
  border-radius: 0;

  &:hover, &:focus, &:active, &:active:focus{
    background-color: lighten($primary, 5%); 
    border-color: lighten($primary, 5%); 
  }
}

.btn-secondary {
  background-color: transparent;
  color: $primary;
  border: 1px solid $primary;

  &:hover, &:focus, &:active {
    color: $white;
    background-color: $primary; 
    border-color: $primary; 
  }
}

// Combine .form-container with padding and f-width for pretty forms.
input[type="text"], 
input[type="number"], 
input[type="email"], 
input[type="password"],
input[type="search"],
textarea{
  @include placeholder{  }

  // &:disabled{ @extend %disabled; }

  .f-width &, .form-container &{
    width: 100%;
    max-width: 100%;
  }
}

input[type="submit"],
button[type="submit"]{
  @extend .btn;
  @extend .btn-primary;

  // &:disabled{
  //   @extend %disabled;

  //   &:hover{
  //     @extend %disabled;
  //   }
  // }
}

%placeholder{ color: darken($white, 10%); }

// General Clases
// ====================================

.none{ display: none; }
.relative{ position: relative; }
.absolute{ position: absolute; }
.fixed{ position: fixed; }

.t-left{ text-align: left; }
.t-right{ text-align: right; }
.t-center{ text-align: center; }
.t-justify{ text-align: justify; }


%transition{
  @include transition(0.2s);
}

.swatch{
  border: 1px solid white;
  margin: 1em;
  padding: 1em;
  text-align: center;

  p{
    color: $white;
    margin: 0;
  }
}

.dark-green{ background-color: $dark-green; }
.medium-green{ background-color: $medium-green; }
.regular-green{ background-color: $regular-green; }
.light-green{ background-color: $light-green; }
.dark-red{ background-color: $dark-red; }
.regular-red{ background-color: $regular-red; }
.medium-red{ background-color: $medium-red; }
.dark-navy{ background-color: $dark-navy; }
.background-navy{ background-color: $background-navy; }
.regular-navy{ background-color: $regular-navy; }
.medium-navy{ background-color: $medium-navy; }
.navy-headers{ background-color: $navy-headers; }
.dark-text{ background-color: $dark-text; }
.light-text{ background-color: $light-text; }
.sidebar-background{ background-color: $sidebar-background; }
.sidebar{ background-color: $sidebar; }
.sidebar-header{ background-color: $sidebar-header; }
.sidebar-text{ background-color: $sidebar-text; }
.sidebar-light-text{ background-color: $sidebar-light-text; }
.neutral-gray{ background-color: $neutral-gray; }
.bitcoin-yellow{ background-color: $bitcoin-yellow; }



