
body.night-mode{
  @import "variables";
  
  .bi-moon, 
  .bi-sun,
  .bi-account,
  .bi-exchange,
  .bi-wallet{
    background-color: $dark-text;
  }

  /* Main
  ------------------------------------- */

  #main-logo{
    @include background-image(bitso_logo);
  }

  #main{
    background-color: $background-navy;
  }

  /* Main Header
  ------------------------------------- */

  #main-header{
    color: $light-text;
    background-color: $regular-navy;

    h1{

      &:before{
        background-color: $light-text;
      }
    }

    a{
      color: $light-text;

      &:hover, &:active, &:focus{
        color: lighten($light-text, 10%);
      }
    }
  }

  #main-menu{

    &:before{
      background-color: $light-text;
    }

    ul.sub-menu{
      background-color: $regular-navy;
    }
  }


  #profile-pic{
    border: 1px solid $dark-text;
    background-color: $dark-text;

    &:before{
      border: 2px solid $regular-navy;
    }
  }

  #night-mode{
    &:hover, &:focus{
      .switch{
        background-color: $light-text;
      }
    }
  }

  #night-mode-wrapper{
    background-color: $background-navy;

    .switch{
      background-color: $dark-text;

      &:before{
        border: 1px solid $background-navy;
      }
    }
  }

  /* Mobile Nav
  ------------------------------------- */

  #mobile-nav{
    background-color: $regular-navy;

    li{

      a{
        color: $light-text;

        &:hover, &:active, &:focus{
          color: lighten($light-text, 10%);

          i{
            background-color: lighten($light-text, 10%);
          }
        }
      }
    }
  }

  /* Market Meta
  ------------------------------------- */

  #market-meta-container{

    p{
      color: $dark-text;
      
      span{
        color: $light-text;
      }
    }
  }

  #market-select{
    > li{
      &:hover, &:active, &:focus{
        > a{
          color: $light-green;
        }
      }
      > a{
        color: $regular-green;
      }
    }

    .sub-menu{
      border-top: 1px solid transparentize($sidebar-text, 0.6);
      border-bottom: 2px solid $regular-green;
      background-color: $sidebar-background;

      a{
        color: $sidebar-text;
        border-right: 0.6em solid $sidebar-background;
        border-left: 0.6em solid $sidebar-background;
        border-bottom: 1px solid transparentize($sidebar-text, 0.6);

        &:hover, &:active, &:focus{
          border-right-color: $background-navy;
          border-left-color: $background-navy;
          background-color: $background-navy;
        }
      }
    }
  }

  /* Trading Data
  ------------------------------------- */

  #trading-data{
    border-top: 1px solid $medium-navy;
    background-color: $background-navy;
  }

  .trading-table{

    /* General Table
    ---------------------------------------- */
    thead{

      tr.thead{
        color: $sidebar-light-text;
        background-color: $navy-headers;
      } 

      tr:not(.thead) td{
        color: $sidebar-text;

        span{
          color: $dark-text;
        }
      }
    }

    tbody{
      tr{
        &.buy{
          td.price{
            color: $dark-green;
          }
        }
        &.sell{
          td.price{
            color: $dark-red;
          }
        }

        &:hover, &:active, &:focus{
          background-color: $regular-navy;
          
          &.buy{
            td.price{
              color: $regular-green;
            }
          }
          &.sell{
            td.price{
              color: $regular-red;
            }
          }

          td{
            color: $neutral-gray;
          }
        }
      }

      td{
        color: $dark-text;

        &.amount{
          color: $sidebar-text;
        }

        span{
          color: $dark-text;
        }
      }
    }

    /* Bid & Ask Table
    ---------------------------------------- */

    #max-bid,
    #max-ask{
      color: $sidebar-text;

      .currency{
        color: $dark-text;
      }
    }

    &.bid, &.ask{
      &:hover{
        thead tr.thead{
          background-color: $navy-headers;
        }
      }

      thead{
        tr.thead{
          background-color: $regular-navy;
        }
      }

      tbody{
        tr{
          &.active, &:active, &:focus{
            td{
              color: $neutral-gray;

              &.amount{
                span{
                  color: lighten($sidebar-text, 10%);
                }
              }
            }
          }
        }
      }
    }

    /* Bid Table
    ---------------------------------------- */
    &.bid{
      &:hover{
        thead tr.thead{
          border-left-color: $light-green;
        }
      }

      tbody{
        tr{
          &.active, &:active, &:focus{
            background-color: transparentize($light-green, 0.7);
            
            td{
              &.price{ color: $light-green; }
            }
          }
        }

        td{
          &.bar span{ 
            background-color: $light-green; 
          }
          &.price{ color: $regular-green; }
        }
      }

      td.select{
        label{
          i{ border-right: 5px solid transparent; }

          &:hover, &:active, &:focus{
            i{
              border-right-color: $light-text;
            }
          }

          input[type="checkbox"]{
            &:checked + i{
              border-right-color: $light-text;
            }
          }
        }
      }
    }

    /* Ask Table
    ---------------------------------------- */
    &.ask{
      &:hover{
        thead tr.thead{
          border-right-color: $regular-red;
        }
      }

      tbody{
        tr{
          &.active, &:active, &:focus{
            background-color: transparentize($regular-red, 0.7);
            
            td{
              &.price{ color: $regular-red; }
            }
          }
        }

        td{
          &.bar span{ 
            background-color: $regular-red; 
          }
          &.price{ color: $medium-red; }
        }
      }

      td.select{
        
        label{

          &:hover, &:active, &:focus{
            i{
              border-left-color: $light-text;
            }
          }

          input[type="checkbox"]{
            &:checked + i{
              border-left-color: $light-text;
            }
          }
        }
      }
    }
  }

  /* Chart
  ------------------------------------- */

  #chart{
    background-color: $red;
  }

  /* Markets Sidebar
  ------------------------------------- */

  #markets-button{
    background-color: transparent;

    i {
      background-color: $light-text;
    }
  }

  #markets-sidebar{
    background-color: $background-navy;
  }
}









