/** 
 * Variables
 */

/* Template Colors */

$black:                     #000;
$white:                     #fff;

/* Green */
$dark-green:                #466830;
$medium-green:              #86af6b;
$regular-green:             #80c156;
$light-green:               #98d372;

/* Red */
$dark-red:                  #722837;
$regular-red:               #cc4458;
$medium-red:                #ba3040;

/* Navy */
$dark-navy:                 #161a1e;
$background-navy:           #191e23;
$regular-navy:              #252c36;
$medium-navy:               #384555;
$navy-headers:              #313d4c;

/* Text */
$dark-text:                 #4e5863;
$light-text:                #b0bac1;

/* Sidebar */
$sidebar-background:        #23292d;
$sidebar:                   #2e353d;
$sidebar-header:            #727c84;
$sidebar-text:              #747f89;
$sidebar-light-text:        #b0bac1;

$sidebar-header-2:          #424a4f;

/* Other */
$neutral-gray:              #cccccc;
$bitcoin-yellow:            #ebc256;

/* Alerts? */
$success:                   #CDF1E0;
$info:                      #C8E4F5;
$warning:                   #FFF8C4;
$danger:                    #FFD5DF;

/* Font Size */
$base-fontsize:             14px;

$image-path: '../../images' !default;
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';
