@import './colors';

@font-face {
  font-family: 'DinPro';
  src: url('DinPro-Light.otf') format('opentype');
  font-weight: 200;
}
@font-face {
  font-family: 'DinPro';
  src: url('DinPro-Medium.otf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'DinPro';
  src: url('DinPro-Regular.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

html {
  font-family: 'DinPro', 'Helvetica', sans-serif;
  font-size: 106.25%;
  quotes: '“' '”';
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-style: normal;
  color: @light-text;
  font-weight: 300;
}

*,
body,
div,
h1,
h2,
h3,
html,
li,
option,
p,
select,
span,
ul {
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input,
select,
textarea {
  font-synthesis: none;
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
  text-align: left;
  outline: none;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  -webkit-appearance: none;
  font-size: 1rem;
  padding: 4px 8px;
  outline: none;
}

#app,
#root,
body,
html {
  width: 100%;
  height: 100vh;
  background-color: @background-navy;
}

#app {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

div.vr {
  width: 1px;
  height: 100%;
  display: block;
  background-color: @light-text;
  flex-shrink: 0;
}

.selector {
  position: relative;
  span {
    cursor: pointer;
    position: relative;
    padding-right: 30px;
    &::before {
      position: absolute;
      top: 10%;
      transform: rotate(180deg);
      position: absolute;
      right: 0;
      content: '';
      width: 20px;
      height: 20px;
      background: url('assets/icons/dropdown.svg') no-repeat center center;
      background-size: 15px;
    }
  }
  ul {
    position: absolute;
    z-index: 1000;
    top: 100%;
    left: 0;
    background-color: @medium-navy;
    padding: 10px 0;
    li {
      padding: 5px 30px;
      cursor: pointer;
      margin-right: 0;
      &:hover {
        background-color: @navy-headers;
      }
    }
  }
  &.--hidden {
    ul {
      display: none;
    }
    span::before {
      transform: rotate(0deg);
    }
  }
  &.book {
    text-transform: uppercase;
    span {
      font-weight: 600;
      font-size: 1.1rem;
      user-select: none;
      -webkit-user-select: none;
      color: @regular-green;
    }
  }
}

.loading {
  height: 100%;
  width: 100%;
  background-color: @background-navy;
}
