@font-face {
  font-family: 'DINPro';
  font-weight: normal;
  src: url('./fonts/DINPro-Regular.woff2'); /* Woff2 Best Modern Browser */
  src: local('DinPro'),
       url('./fonts/DINPro-Regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/DINPro-Regular.otf') format('opentype'), /* Older Safari, Android, iOS */
}

@font-face {
  font-family: 'DINPro';
  font-weight: lighter;
  src: url('./fonts/DINPro-Light.woff2'); /* Woff2 Best Modern Browser */
  src: local('DinPro'),
       url('./fonts/DINPro-Light.woff') format('woff'), /* Modern Browsers */
       url('./fonts/DINPro-Light.otf') format('opentype'), /* Older Safari, Android, iOS */
}


@font-face {
  font-family: 'DINPro';
  font-weight: bold;
  src: url('./fonts/DINPro-Medium.woff2'); /* Woff2 Best Modern Browser */
  src: local('DinPro'),
       url('./fonts/DINPro-Medium.woff') format('woff'), /* Modern Browsers */
       url('./fonts/DINPro-Medium.otf') format('opentype'), /* Older Safari, Android, iOS */
}

body {
    background-color: #161a1e;
    margin: 0px;
    font-family: 'DINPro';
    font-size: 12px;
    color: #cccccc;
}

h1 {
    font-size: 16px;
}

.headerBitso {
    display: block;
    width: 100%;
    padding-left: 0em;
    padding-right: 0em;
    padding-bottom: 1em;
    padding-top: 1em;
    background-color: #252c36;
}

.headerDivider {
     display: inline;
     border-left:1px solid #cccccc; 
     border-right:1px solid #161a1e; 
     position: relative;
     right: -10px;; 
}

.headerExchange {
    display: block;
    padding-left: 1.8em;
    padding-right: 0em;
    padding-bottom: 1em;
    padding-top: 1em;
    border-bottom-color: #1f252c;
    border-bottom: 1em;
}

.headerTicker {
    display: inline-block;
    padding-left: 1em;
}


