/* You can add global styles to this file, and also import other style files  letras claro #2C3A49*/
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './src/assets/styles/colors.scss';

body {
    margin: 0 0 0 0;
    background-color: $background-color;
    color: $text-color;
}