@font-face {
  font-family: 'DINPro';
  font-weight: normal;
  src: url('./fonts/DINPro-Regular.woff2'); /* Woff2 Best Modern Browser */
  src: local('DinPro'),
       url('./fonts/DINPro-Regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/DINPro-Regular.otf') format('opentype'), /* Older Safari, Android, iOS */
}

@font-face {
  font-family: 'DINPro';
  font-weight: lighter;
  src: url('./fonts/DINPro-Light.woff2'); /* Woff2 Best Modern Browser */
  src: local('DinPro'),
       url('./fonts/DINPro-Light.woff') format('woff'), /* Modern Browsers */
       url('./fonts/DINPro-Light.otf') format('opentype'), /* Older Safari, Android, iOS */
}


@font-face {
  font-family: 'DINPro';
  font-weight: bold;
  src: url('./fonts/DINPro-Medium.woff2'); /* Woff2 Best Modern Browser */
  src: local('DinPro'),
       url('./fonts/DINPro-Medium.woff') format('woff'), /* Modern Browsers */
       url('./fonts/DINPro-Medium.otf') format('opentype'), /* Older Safari, Android, iOS */
}

body {
    background-color: #161a1e;
    margin: 0px;
    font-family: 'DINPro';
    font-size: 13px;
    color: #cccccc;
}

h1 {
    font-size: 16px;
}

.headerBitso {
    display: block;
    width: 100%;
    padding-left: 0em;
    padding-right: 0em;
    padding-bottom: 1em;
    padding-top: 1em;
    background-color: #252c36;
}

.headerDivider {
     display: inline;
     border-left:1px solid #cccccc; 
     border-right:1px solid #161a1e; 
     position: relative;
     right: -10px;; 
}

.headerExchange {
    display: block;
    padding-left: 1.8em;
    padding-right: 0em;
    padding-bottom: 1em;
    padding-top: 1em;
    border-bottom-color: #1f252c;
    border-bottom: 1em;
}

.headerTicker {
    display: inline-block;
    padding-left: 1em;
}

/* CSS para input range, utilizando en deep market */

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 4px 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(78, 88, 99, 0.78);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1.1px #000031, 0px 0px 0px #00004b;
  border: 0.1px solid #00001e;
  height: 10px;
  width: 10px;
  border-radius: 22px;
  background: #b0bac1;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.2px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(89, 101, 113, 0.78);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(78, 88, 99, 0.78);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 1.1px #000031, 0px 0px 0px #00004b;
  border: 0.1px solid #00001e;
  height: 10px;
  width: 10px;
  border-radius: 22px;
  background: #b0bac1;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: rgba(67, 75, 85, 0.78);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: rgba(78, 88, 99, 0.78);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 1.1px #000031, 0px 0px 0px #00004b;
  border: 0.1px solid #00001e;
  height: 10px;
  width: 10px;
  border-radius: 22px;
  background: #b0bac1;
  cursor: pointer;
  height: 2px;
}

input[type=range]:focus::-ms-fill-lower {
  background: rgba(78, 88, 99, 0.78);
}

input[type=range]:focus::-ms-fill-upper {
  background: rgba(89, 101, 113, 0.78);
}


/* CSS menu normal */
.navbar {
    font-size: 14px;
    overflow: hidden;
    position: static;
    left: 5em;
    margin-top: -2em;
    color: #d8e4ed;
    padding-right: 5em;
}

.navbar img {
  float: right;
}


.navbar a {
    font-size: 14px;
    float: right;
    text-align: center;
    text-decoration: none;
    color: #d8e4ed;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.25em;
}

.dropdown {
    float: right;
    overflow: hidden;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.25em;
    
}

.navbar .icon {
  display: none;
}

.dropdown .dropbtn {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 14px;
    border: none;
    outline: none;
    color: #d8e4ed;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #3a4555;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #5c6d86;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1001;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* CSS menu mobiles */
@media screen and (max-width: 825px) {
  .navbar a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }

  .navbar a.icon {
    float: right;
    display: block;
  }

  .navbar .icon {
    display: block;
  }
}

@media screen and (max-width: 825px) {

  .navbar.responsive {
    position: fixed;
    right: 5em;
    background-color: #0b1421;
    z-index: 10000;
    transform: scaleY(-1);
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
    padding-bottom: 5px;
    padding-top: 5px;
    transform: scaleY(-1);
    
  }

  .navbar.responsive .dropdown {
    float: none;
    display: block;
    
  }
  .navbar.responsive .dropdown-content {
    position: relative;
    display: block;
  }

  .navbar.responsive .dropdown .dropbtn {
    display: block;
    text-align: left;
    padding-bottom: 5px;
    padding-top: 5px;
    transform: scaleY(-1);
  }
}

