// Content Spacers classes. EG: (use it with flex: $bla)

$full-space: 1 1 auto; // 100%
$space-90: 0.9 1 auto; // 90%
$space-80: 0.8 1 auto; // 80%
$space-70: 0.7 1 auto; // 70%
$space-60: 0.6 1 auto; // 60%
$space-50: 0.5 1 auto; // 50%
$space-40: 0.4 1 auto; // 40%
$space-30: 0.3 1 auto; // 30%
$space-20: 0.2 1 auto; // 20%
$space-10: 0.1 1 auto; // 10%