@keyframes showHeaderSidebar {
  from {
    width: 0;
  }
  to {
    width: 60%;
    z-index: 100;
  }
}

@keyframes hideHeaderSidebar {
  from {
    width: 60%;
  }
  to {
    width: 0;
    z-index: -100;
  }
}
